extends layout

block content
  each word in words
    h1= word
  
  if !maxNumber == ""
    h2= maxNumber
    input(type=type, id='number')
  else if !maxRange == ""
    if !minRange == ""
      h2#rangeLabel value: {{ rangeValue }}
      input(type=type, max=maxRange, min=minRange, id="range" ng-model="rangeValue")
  else if type == "select"
    select
      each option in selectOptions
        option= option
  else if type == "checkbox"
    h2(ng-if='checked') #{checkboxTrue}
    h2(ng-if='!checked') #{checkboxFalse}
    input(type="checkbox", ng-model="checked")
    
  else if type == "file"
    input(type="file" id="myFile")
    script. 
      $('#myFile').bind('change', function() {
        var limit = parseInt("#{limitInBytes}");
        var limitAlert = "#{fileLimit}";
        //this.files[0].size gets the size of your file.
        var size = this.files[0].size;
        if (size > limit) {
          $("#myFile").replaceWith($("#myFile").clone(true))
          alert('File too big! Limit is ' + limitAlert);
        }
        
      });
    
  if !maxNumber == ""
    script.
      var max=parseInt("#{maxNumber}");
      var myInput = document.getElementById('number');
      myInput.oninput = function () {
        if (this.value.length > max) {
            this.value = this.value.slice(0,6); 
        }
      }
